#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  background: url('/images/background.jpeg');
  background-size: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.graph-container {
  min-width: 1000px;
  background-color: '#1E1E3F' !important;
}

.container-heading {
  background: '#1E1E3F';
  color: '#FFFFFF';
  text-align: left;
}

.container-heading h2 {
  text-align: space-around;
}

.graph-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.weeks, .month {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weeks button {
  margin: 0 5px; /* Add some space around the buttons */
}

.graph-section-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-inline: 20px;
  padding-top: 20px;
}
.graph-section-title {
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding-left: 24px;
  font-family: 'Play', sans-serif;
}
.horizontal-line {
  border: 1px solid #86849e;
}

.graph-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  padding-top: 20px;
}
.graph-action-button {
  cursor: pointer;
}

.graph-current-month {
  color: #FFFFFF;
  width: 100px;
  font-family: 'Play', sans-serif;
}
.graph-spacing{
  padding: 20px;
}

.loader-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}